:root {
    font-size: 62.5%;
    --ff01-text: 'Inter', sans-serif;

    --bg-color: rgb(0, 0, 0);
    --bg-mix: rgb(7, 34, 41);

    --bg-thead: rgb(19, 72, 90);
    --bg-button1: rgb(6, 94, 124);
    --fc-button1: #FFFFFF;
    
    --bg-button2: #c6d9dd;
    --fc-button2: rgb(6, 94, 124);

    --fc-font1: #FFFFFF;
    --fc-font2: #7c8484;
    
    --fc-remove3: #d33a3c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide {
    display: none;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--fc-button1);
    font-size: 1.6rem;
    width: 99vw;
}

#app{
    width: clamp(40rem, 90%, 100rem);
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 4rem;
}
header img {
    height: 2.7rem;
}
.search {
    display: flex;
    gap: .7rem;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.search input {
    background-color: var(--bg-mix);
    padding: 0.7rem 1.2rem;
    font-family: var(--ff-text1);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--fc-font1);
    border: none;
    border-radius: 4px;
    width: 40rem;
}
.search button {
    display: flex;
    gap: .8rem;
    padding: .6rem 2.9rem;
    align-items: center;
    text-transform: uppercase;
    background-color: var(--bg-button1);
    color: var(--fc-button1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search button:hover {
    background-color: var(--bg-button2);
    color: var(--fc-button2);
}
.search button:hover svg path {
    fill: blue;
}
.search button img {
    width: 2.4rem;
}

.table-wrapper {
    border: 1px solid var(--bg-button1);
    border-radius: 10px;
    overflow: hidden;
}
table {
    width: clamp(40rem, 100%, 100rem);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
thead {
    color: var(--ff-text1);
    border-radius: 20px;
}
thead tr th {
    padding-top: 2rem;
    padding-bottom: 2rem;
    letter-spacing: .1rem;
    text-align: center;
    background-color: var(--bg-thead);
}
.thUser {
    text-align: left;
    padding-left: 2rem;
}

.tbodyUser tr {
    background-color: var(--bg-color);
}
.tbodyUser tr:nth-child(even){
    background-color: var(--bg-mix);
    border-top: 1px solid var(--bg-button1); 
}

td {
    padding: 2rem;
}
td.user {
    display: flex;
    align-items: center;
    gap: 2rem;

}
td.user img{
    width: 12rem;
    height: 12rem;

    border-radius: 50%;
}

td.user a {
    text-decoration: none;
    color: var(--fc-font1);
    display: flex;
    flex-direction: column;
    gap: .6rem;
    display: inline-block;
    text-align: left;
}
td.user a p {
    font-weight: 600;
}
td.user a span{
    font-weight: 300;
}

.action {
    color: var(--fc-remove3);
    font-weight: 600;
    cursor: pointer;
}

.colspan-cell {
    height: 40rem;
}

.tbodyNoUser tr {
    background-color: var(--bg-mix);
}
.center-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
   
}

.center-content img {
    width: 10rem;
}
.center-content span {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--fc-font2);
    padding-top: 2rem;

}








