:root {
    --ff-text-01: 'Archivo', 'Sans Serif';
    --ff-text-02: 'Poppins', 'Sans Serif';

    --fc-header-01: #FFFFFF;
    --fc-header-02: #42D3FF;
    --fc-form-title: #32264D;
    --fc-form-text: #4E4958;
    --fc-form-span: #C1BCCC;

    --bg-header: #121214;
    --bg-body: #D6D6D6;
    --bg-form: #FAFAFC;
    --bg-footer: #F0F0F4;
    --bg-button: #04D361; 

    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: auto;
    background-color: var(--bg-body);
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 36.8rem;
    background-color: var(--bg-header);
    padding-top: 8rem;
    border-top: 1px solid var(--bg-header);
    
}
.header-text {
    width: clamp(45rem, 90%, 73.6rem);
    height: 16rem;

    margin: 0 auto;
    padding: 0 3px;

}
.header-text h1{
    font-family: var(--ff-text-01);
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--fc-header-01);

    margin-bottom: 2.4rem;
}
.header-text p {
    font-family: var(--ff-text-02);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--fc-header-02);
}

form {
    background-color: var(--bg-form);
    width: clamp(45rem, 90%, 73.6rem);
    min-height: auto;
    margin: -8rem auto 0;
    padding: 6.4rem;

    border-radius: 8px 8px 0 0;
    font-family: var(--ff-text-02);
}

fieldset {
    border: none;
    display: flex;
    flex-direction:column ;
    margin-bottom: 4.8rem;
}

legend {
    font-family: var(--ff-text-01);
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--fc-form-title);

    border-bottom: 1px solid var(--fc-form-span);
    width: 100%;
    padding-bottom: 1.6rem;
    text-align: left;
    margin-bottom: 2.4rem;
}

label {
    font-family: var(--ff-text-02);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem; 
    color: #4E4958;

    margin-bottom: .8rem;
}
span {
    color: #C1BCCC;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-left: 1.2rem;
}
input {
    border: 1px solid #E6E6F0;
    background-color: #FAFAFC;
    height: 6.4rem;
    border-radius: 8px;
    padding: 1.5rem 2.4rem;
    margin-bottom: 2.4rem;
}
/*input:invalid {
    border: 1px solid #FF1010;
}*/
#event-info {
   width: 100%;
    height: 16.8rem;
    border: 1px solid #E6E6F0;
    background-color: #FAFAFC;
    border-radius: 8px;

    padding: 1.6rem;
    margin-bottom: 2.4rem;
}
#event-type {
    border: 1px solid #E6E6F0;
    background-color: #FAFAFC;
    border-radius: 8px;
    padding: 1.5rem 2.4rem;
    height: 6.4rem;

    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    position: realtive;
}
.checkbox-wrapper input {
    margin: 0;

    position: absolute;
    opacity: 0;
}
.checkbox-wrapper label {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.checkbox-wrapper label::before{
    content: '';
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #E6E6F0;
    border-radius: 4px;
    display: block;
}
.checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox-wrapper input:focus + label:before {
    outline: 2px solid #000000;
}

.form-time {
    display: grid;
    grid-template-rows: repeat(1fr, 1fr, 1fr);
    grid-template-areas: "time1 time2 time3";
    gap: 2rem;
}
.time1 {
    width: 100%;
    grid-area: time1;  
}
.time2 {
    grid-area: time2;
}
.time3 {
    grid-area: time3;
}
.time input {
    width: 100%;  
}
input[type="date"]::-webkit-datetime-edit {
    color: #C1BCCC;
    font-family: var(--ff-text-02);
    font-weight: 400;
    font-size: 1.6rem;
}
input[type="time"] {
    color: #C1BCCC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
.time input::-webkit-calendar-picker-indicator{
    display: none;
}
fieldset:last-of-type {
    margin-bottom: 0; 
}

footer {
    width: clamp(45rem, 90%, 73.6rem);
    height: 13.6rem;
    margin: 0 auto 6rem;
    padding: 4rem 4.3rem;
    text-align: center;
    
    background-color: var(--bg-footer);

    border-radius: 0 0 8px 8px; 
}
footer button {
    background-color: var(--bg-button);
    color: var(--fc-header-01);

    width: clamp(40rem, 80%, 60.8rem);
    padding: 1.5rem 0;

    font-family: var(--ff-text-01);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 1.5px;
    
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #06b957;
}